*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.container{
    background-color: rgb(0, 21, 51);
    margin: 80px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;

    color: rgb(230, 227, 227); /* Muda cor dos textos*/

    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#titulo{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nome,.endereco{
    display: grid;
    justify-content: center;
    align-items: center;
}
.opcao{
    display: flex;
    align-items: center;
    justify-content: center;
}
#residencial,#comercial{
    margin: 10px;
    width: 25px;
    height: 25px;
}
#button{
    border-radius: 10px;
    height: 30px;
    width: 200px;
}
.button{
    display: grid;
    align-items: center;
    justify-content: center;
}
#input-nome, #input-endereco{
    margin-top: 10px;
    border-radius: 10px;
    height: 25px;
}
#input-observacoes{
    margin-top: 10px;
    border-radius: 10px;
    border-style: solid;
}
#nome, #endereco{
    font-weight: bold;
}
